* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: #4254f5;
  box-sizing: border-box;
  font-family: Montserrat;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 1200px;
}

/* MEDIA QUERIES */
@media (max-width: 1250px) {
  .container {
    width: 100%;
  }
  .nav .nav-section {
    padding: 0 20px;
  }
}

@media (max-width: 650px) {
  .form-container {
    width: 90%;
  }
  .list-section {
    margin:  10px;
  }
  .list-section .list ul li {
    font-size: 12px;
  }
  .nav .nav-section {
    justify-content: center;
  }
  .nav .nav-section h1 {
    display: none;
  }
}

@media (max-width: 400px) {
  .form-container .select-container {
    display: block;
  }
}